/* Nuestra hoja de estilos */


@import 'reset.css';


/* varibales globales */
:root {

    --blanco: #FFF;
    --negro: #000;
    --marron: peru;
    --verde: lime;
    --rosa: pink;
}

/* media para impresoras, tambien se puede declara en el html con un link */

@media print {

    body { 
        font-size: 10pt;
        color: green;
    }

}


header {
    /* prefijos para dar soporte a diferentes navegadorescontent: 
        -moz- para Firefox y los demás navegadores de Gecko,
        -webkit- para los navegadores WebKit: Chrome, Safari, etc.
        -ms- para Microsoft (Internet Explorer),
        -o- para Presto, el antiguo motor de Opera.
    
    */    
    background-image: -moz-linear-gradient(top, #D7D 0%, #068 100%); 
    background-image: -o-linear-gradient(top, #D7D 0%, #068 100%);  
    background-image: -ms-linear-gradient(top, #D7D 0%, #068 100%); 
    background-image: -webkit-linear-gradient(top, #D7D 0%, #068 100%); 
    background-image: linear-gradient(top, #D7D 0%, #068 100%);
    color: var(--blanco);

}


section {
    background-color: var(--verde);
}

footer {
    background-color: var(--rosa);
}

h1 {
    color: var(--negro);
    text-align: center;
    text-transform: capitalize;
}

#lista {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}

#lista li {
    display:inline;
    padding-left:3px;
    padding-right:3px;

}

table{
    width: 100%;
}

td{
    align-content: center;
}