body{
    min-width: 185px;
}

nav {
    background-color:grey;
    color: #000;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a { 
    text-decoration: none; /* quitar rayita de abajo al los enlaces */
    cursor: pointer;  /* cambiar icono de flecha a mano */
    color:black;
}

nav ul {

    /* posicionar los LIs en horizontal y dividir el spacio */
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    box-sizing: border-box;  /* si tenemos padding o border lo descuenta del ancho, no los suma */
    margin: auto; /* centrar el contenido en horizontal */
}  

nav ul li{
    list-style: none; /* quitar puntito */    
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: larger;
    Color:black;
}  

header h1 {   
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
    color:white;
    text-align: center;
    background-color: black;
    
}

main{
    background-color: lightgray;
    padding: 2em;
}
main h1 {   
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
    background-color: gray;
    text-align: center;
    
}

footer {
    text-align: center; 
    background-color: gray;
}

footer a{
    color:black;
}
main a h3{
    text-align: left;
}

img{
    display: block;
    margin: auto;
    width: 640px;
    height: auto;
    padding:2em;

}

p{
    text-align: justify;
}
   

a:hover {
    background-color: black;
    color:white;
}

@media (max-width: 768px) {

    img{
        display: flex;
        margin: auto;
        width: 100%;
        height: auto;
        padding:0.1em;

        
      object-fit: cover;
      object-position: center center;
    
    }
  
    
} 

@media (max-width: 425px) {

    nav ul {

      
        display: block;
        box-sizing: border-box;  /* si tenemos padding o border lo descuenta del ancho, no los suma */
        margin: auto; /* centrar el contenido en horizontal */
        padding: 0.1em;
    }    

    h1, h2{
        font-size: medium;
        padding: 0.1em;
    }

}


