/* Nuestra hoja de estilos */


* { 
    margin: 0;
    padding: 0;
}


/* varibales globales */
:root {
    --color-primary : #ec1d24;
    --color-accent :#f7c671;
    --color-fondo :#f7f7f7;
    --azul: #003580;
    --blanco: #FFF;
    --negro: #202020;
    --marron: peru;
    --verde: lime;
    --rosa: pink;
}

/* estilos a todas las etiquetas */

body {
    color: var(--negro);
    font-size: 1rem; /* 16px */
    line-height: 1.3rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    box-sizing: border-box;
}


h1 {   
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
    color:white;
    background-color: var(--negro);
    text-align: center;
    
}
h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    color: var(--color-primary);
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none; /* quitar rayita de abajo al los enlaces */
    cursor: pointer;  /* cambiar icono de flecha a mano */
}

li {
    list-style: none;
}


header, main, footer, .container {
    max-width: 1024px;
    box-sizing: border-box;  /* si tenemos padding o border lo descuenta del ancho, no los suma */
    margin: auto; /* centrar el contenido en horizontal */
}

header {
    margin-top: 0px;
    background-color:var(--negro);
    height: 100%;
}


main {
    background-color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    
}


main article {
    width: 100%;
    background-color: var(--color-gris-light);    
    padding: 2em;
    text-justify: auto;
    justify-content: center;
}


#header {
    background-color: var(--color-primary);
    color: #FFF;
    padding: 10px;
    position: sticky;
    top: 0;
}

#header a { 
    color: #FFF; 
}

#header ul {

    /* posicionar los LIs en horizontal y dividir el spacio */
    display: flex;
    justify-content: space-between;
}    

#header ul li {
    list-style: none; /* quitar puntito */    
    width: 100%;
    text-align: center;
    padding: 5px 0;
}   

#headerul li:hover {
    background-color: #03A9F4;
}    

footer {
    background: #f7f7f7;
    padding: 1rem;
    display: flex;
    
}


footer section {
    width: 100%;
}

footer a{
    color: #6f777b;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0;
    
}

.text-right {
    text-align: right;
}

.logos{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;  /* si tenemos padding o border lo descuenta del ancho, no los suma */
    margin: auto;
}

.imagen{
    padding-left: 40em;
    align-items: stretch;
}

/*  TABLET 768px
********************************************/

@media (max-width: 768px) {

    main {
        flex-wrap: wrap;
    }

    main article{
           
        width: 48%;
        margin-bottom: 2rem;
    }
}    


/*  MOBILE 425px
********************************************/

@media (max-width: 425px) {

    main article{
        
        width: 100%;
    }

    #btn-top{
        display: inline;
        position:fixed;
        bottom: -10px;
        right: 10px;
    }
} 


